@import "tailwindcss";

.zoomProductSliderThumbs .swiper-slide{
    height: auto !important;
}

.slider .item{
    margin-bottom: 0.5px;
}

.zoomProductSliderThumbs .swiper-button-next{
    left: 13px !important;
    bottom: 0px !important;
    width: 120% !important;
    height: 40px !important;
    border-radius: 0px !important;
}

.zoomProductSliderThumbs .swiper-button-prev{
    left: 13px !important;
    top: 0px !important;
    width: 120% !important;
    height: 40px !important;
    border-radius: 0px !important;
}